<%= form_with(model: theloaisach) do |form| %>
  <% if theloaisach.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(theloaisach.errors.count, "error") %> prohibited this theloaisach from being saved:</h2>

      <ul>
        <% theloaisach.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
